* {margin: 0; padding:0; }
/*--------------------------------------------
Style Switcher
---------------------------------------------*/
div#theme_options {
	position: fixed;
	left: 30px;
	top: 30px;
	z-index: 100;
	padding: 6px 5px 6px 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
}
	div#theme_options .color_picker { width: 115px; padding: 4px 0px 4px 0px; }
	div#theme_options strong{ 
		color: #333; 
		font-size: 11px; 
		font-weight: bold; 
		margin-bottom: 8px; 
		display: block; 
		cursor: pointer; 
	}
	div#theme_options span.preview { 
		color: #999; 
		text-transform: lowercase; 
		font-size: 10px; 
		font-weight: normal;
	}
div#theme_options ul {
	list-style: none;
	margin-left: 8px;
}
	div#theme_options ul.colors li {
		float: left;
		margin: 0px 5px 10px 0px;
		cursor: pointer;
		width: 30px; 
		height: 30px;
	}
		/* Vibrant Colors */
		div#theme_options ul li.lime   { background-color: #b6de3e; }
		div#theme_options ul li.magenta 		 { background-color: #dd4a9d; }
		div#theme_options ul li.orange 			 { background-color: #e8aa3e; }
		div#theme_options ul li.purple 			 { background-color: #a14cb6; }
		div#theme_options ul li.blue 			   { background-color: #3d84c6; }
		div#theme_options ul li.red 		     { background-color: #d94848; }
		div#theme_options ul li.yellow       { background-color: #dcd62a; }
		div#theme_options ul li.green 			 { background-color: #61b85a; }
		div#theme_options ul li.teal 				 { background-color: #41b8df; }
		/* Neutral Colors */
		div#theme_options ul li.black        { background-color: #393939; }
		div#theme_options ul li.brown 			 { background-color: #9a7765; }
		div#theme_options ul li.gray 				 { background-color: #ababab; }
		/* Pastel Colors */
		div#theme_options ul li.pink 				 { background-color: #d78bbd; }
		div#theme_options ul li.light_green  { background-color: #c2d78b; }
		div#theme_options ul li.seafoam_green 	   { background-color: #8cd1d2; }
		div#theme_options ul li.coral        { background-color: #e68b8b; }
		div#theme_options ul li.light_blue   { background-color: #87d0ee; }
		div#theme_options ul li.light_purple { background-color: #c5a1cf; }
	div#theme_options ul.backgrounds { margin-left: 8px; }
	div#theme_options ul.backgrounds li {
		height: 23px;
		padding-top: 7px;
		background: url('../images/bg_patterns.png') no-repeat 70px 0px;
		width: 100%;
		text-align: left;
		font-size: 11px;
		color: #6b6b6b;
		font-weight: bold;
		margin-bottom: 10px;
		cursor: pointer;
	}
		div#theme_options ul li.grid { background-position: 70px -30px; }
		div#theme_options ul li.dots { background-position: 70px -60px; }
		div#theme_options ul li.stripes_right { background-position: 70px -90px; }
		div#theme_options ul li.stripes_left { background-position: 70px -120px; }
		div#theme_options ul li.pinstripes { background-position: 70px -150px; }
		div#theme_options ul li.stars { background-position: 70px -180px; }
	div#theme_options hr { margin: 10px 0px 10px 0px; }
	div#theme_options .selected_color {
		width: 36px;
		height: 36px;
		background: url('../images/select.png') no-repeat top;
		float: right;
		margin-top: -10px;
		position: relative;
	}
		.selected_color div {
			position: absolute;
			top: 3px;
			left: 3px;
			width: 30px;
			height: 30px;
			background: #eeeeee url(../images/select.png) center;
		}
	div#theme_options ul.select_color li {
		height: 23px;
		padding-top: 7px;
		text-align: left;
		font-size: 11px;
		color: #6b6b6b;
		font-weight: bold;
		margin-bottom: 10px;
		width: 100%;
	}
/*--------------------------------------------
Global
---------------------------------------------*/
/* Change the theme background pattern here  */
/* Available options:                        */
/* dots.png                                  */
/* grid.png                                  */
/* linen.png                                 */
/* pinstripes.png                            */
/* stars.png                                 */
/* stripes_left.png                          */
/* stripes_right.png                         */
/*-------------------------------------------*/
body {
	background: #eeeeee url('../images/backgrounds/linen.png') repeat top left;
	font-family: "Helvetica Neue", helvetica, sans-serif;
	color: #676767;
	font-size: 14px;
}
div#container_wrap {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
/* Header */
div#header {
	margin: 0px 0px 0px 0px;
	padding-top: 25px;
}
	div#header .logo {
		margin-bottom: 35px;	
		background: url('../images/colors/lime/logo.png') no-repeat top right;
		padding-right: 26px;
		height: 50px;
		width: 175px
	}
	/* Navigation */
	div#header ul#nav {
		height: 40px;
		clear: both;
		padding-left: 20px;
		border: 1px solid #dbdbdb;
		-moz-border-radius-topright: 5px;
			-webkit-border-top-right-radius: 5px;
			border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
			-webkit-border-top-left-radius: 5px;
			border-top-left-radius: 5px;
		background: #fff url('../images/nav_bg.png') repeat-x bottom left;
		list-style: none;
		position: relative;
		padding-top: 20px;
	}
		div#header ul#nav li {
			display: inline;
			position: relative;
			padding-bottom: 25px;
		}
			div#header ul#nav li a {
				text-decoration: none;
				padding: 4px 13px 5px 13px;
				margin-right: 10px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				font-family: "QlassikMedium";
				font-size: 17px;
				color: #3e3e3e;
			}
			div#header ul#nav li.active a {
				background: #b6de3e;
				color: #fff;
				box-shadow: 0px 0px 1px #aaa;
				border: 1px solid #eaeaea;
				font-family: "QlassikBold";
			}
	/* Sub Nav */
	div#header ul#nav li ul{
		list-style: none;
		position: absolute;
		z-index: 999999;
		top: 38px;
		left: 0;
		width: 130px;
		background: #f2f2f2;
		text-align: center;
		border: 1px solid #ddd;
		border-top: none;
		padding: 0px 0px 5px 0px;
		display: none;
		margin: 0;
		-moz-border-radius-bottomright: 5px;
			-webkit-border-bottom-right-radius: 5px;
			border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border-bottom-left-radius: 5px;
	}
		div#header ul#nav li ul li {
			display: block;
			margin-bottom: 0px;
			padding-bottom: 0px;
			padding-left: 10px;
		}
		div#header ul#nav li ul li a,
		div#header ul#nav li.active ul li a{
			display: block;
			padding: 8px 0px 8px 0px;
			font-size: 11px;
			font-weight: normal;
			color: #888;
			font-family: "Helvetica Neue", helvetica, sans-serif;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			border-bottom: 1px solid #ddd;
		}
		div#header ul#nav li.active ul li a{
			background: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-color: #ddd;
			box-shadow: none;
			color: #666;
		}
			div#header ul#nav li ul li a:hover {
				color: #3d3d3d;
			}
/*--------------------------------------------
Headings
---------------------------------------------*/
h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-family: "QlassikMedium";
	font-size: 34px;
	font-weight: normal;
	color: #3a3a3a;
}
h1,h2,h3,h4,h5,h6 { margin-bottom: 10px; }
h1 {
	font-size: 34px;
	color: #333;
}
	h1 span {
		font-size: 13px;
		font-style: italic;
		color: #999;
		position: relative;
		top: -5px;
		left: 10px;
		font-family: "Helvetica Neue", helvetica, sans-serif;
	}
h2 {
	font-size: 29px;
}
h3 { font-size: 23px; }
h4 {
	font-size: 20px;
	color: #2a2a2a;
}
h5 {
	color: #424242;
	font-size: 15px;
}
h6 {
	font-size: 13px;
	color: #2b2b2b;
}
strong, b { color: #3a3a3a; }
.center { text-align: center; }
/*--------------------------------------------
Shared Theme Elements
---------------------------------------------*/
div.main_content {
	overflow: hidden;
	padding: 25px 30px;
	border: 1px solid #dbdbdb;
	border-top: none;
	border-bottom: none;
	background: #fff;
}	
	div.main_content p {
		font-size: 12px;
		color: #888;
		line-height: 20px;
		margin-bottom: 25px;
	}
div.shadow {
	border-bottom: 1px solid #dfdfdf;
	background: url('../images/horizontal_shadow.png') no-repeat bottom;
	height: 65px;
	width: 980px;
	clear: both;
	position: relative;
	left: -35px;
	top: -30px;
}
div.page_heading {
	padding: 0px 0px 10px 0px;
	background: url('../images/page_heading.png') no-repeat bottom;
	margin: 0px 0px 30px 0px;
	text-align: center;
}
div.section_heading {
	position: relative;
	margin: 0px 0px 15px 0px;
}
div.small_left_column {
	float: left;
	width: 565px;
}
div.large_left_column {
	float: left;
	width: 675px;
}
div.small_right_column {
	float: right;
	width: 175px;
}
	div.small_right_column .container {
		margin-bottom: 30px;
	}
	div.small_right_column ul.arrows {
		list-style: none;
	}	
	div.small_right_column ul.arrows li {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #d9d9d9;
		background: none;
		padding-left: 0;
	}
	div.small_right_column ul.arrows li a {
		text-decoration: none;
		background: url("../images/arrow_right_dark.png") no-repeat left;
		padding-left: 15px;
		color: #777;
		font-size: 13px;
	}
	div.small_right_column ul.arrows li a:hover { color: #333; }
		div.small_right_column ul.arrows li a.ui-state-active { 
			font-weight: bold; 
			background: url('../images/colors/lime/arrow_down.png') no-repeat left;
		}
div.large_right_column {
	float: right;
	width: 320px;
}
	div.large_right_column h3 {
		text-align: center;
		margin-bottom: 0;
		background: url('../images/sidebar_header_bg.png') repeat-x bottom left;
		height: 34px;
		padding-top: 7px;
		border-bottom: 1px solid #ccc;
		color: #555;
		font-size: 22px;
	}
	div.large_right_column .container {
		border: 1px solid #dbdbdb;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		margin-bottom: 30px;
		background: #fff;
		overflow: hidden;
	}
	div.large_right_column .container .content { padding: 15px; background: #fbfbfb; }
/*--------------------------------------------
Homepage
---------------------------------------------*/
div#homepage div#slider{
	margin: 0 auto;
	margin-bottom: 30px;
	width: 918px;
	background: url('../images/page_heading.png') no-repeat bottom center;
	padding-bottom: 50px;
}
	/* Nivo Slider */
	div#homepage #slides { border: 1px solid #d2d2d2; }
	div#homepage #slides img {
		position:absolute;
		top:0px;
		left:0px;
		display:none;
		height: 346px;
	}
		div#homepage #slides a {
		   border:0;
		   display:block;
		}
		div#homepage #slides .nivo-caption {
			width: auto;
			left: 0;
			bottom: 40px;
			background: none;
			overflow: visible;
			z-index: auto;
		}
			div#homepage #slides .nivo-caption p {
			  background: #000;
				background: rgba(0,0,0,.65);
				padding: 15px 40px 17px 40px;
				margin: 0;
				font-size: 20px;
				font-weight: normal;
				color: #fff;
				border: 1px solid rgba(255,255,255,0.25);
				border-left: none;
				position: relative;
				z-index: 9;
				overflow: visible;
			}
			div#homepage #slides .nivo-caption p span{
				position: absolute;
				right: -55px;
				top: -12px;
				background: url('../images/colors/lime/date_bg.png') no-repeat;
				width: 71px;
				color: #fff;
				font-weight: bold;
				font-size: 25px;
				text-align: center;
				padding: 24px 0px 33px 0px;
				text-shadow: 0px 2px 1px #999;
				z-index: 10;
			}	
			div#homepage #slides .nivo-caption a { display: block; margin-top: 20px; }
			.nivo-controlNav {
				position: absolute; 
				bottom: -30px;
				position:absolute;
				left:50%;
		    margin-left:-30px; /* Tweak this to center bullets */
			}
			div#homepage #slides .nivo-controlNav { z-index: 12; }
			div#homepage #slides .nivo-controlNav a{
					display: block;
					float: left;
					margin-right: 6px;
					width: 10px;
					height: 10px;	
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					background: #c1c1c1;
					text-indent: -999999px;
					box-shadow: inset 0px 2px 2px #888;
				}
			div#homepage #slides	.nivo-controlNav a.active{ background: #777; }
div#homepage div#welcome {
	padding-bottom: 0px;
}
	div#homepage div#welcome h2{
		margin-bottom: 10px;
	}
	div#homepage div#welcome p{
		line-height: 22px;
		font-size: 12px;
		margin-bottom: 0px;
	}
	div#welcome .about {
		float: left;
		width: 360px;
		position: relative;
		z-index: 2;
		background: url('../images/fading_line.png') no-repeat top right;
		padding-right: 30px;
		min-height: 170px;
		overflow: hidden;
	}
	div#welcome .gallery {
		float: right;
		width: 495px;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
		div#welcome .gallery ul { list-style: none; }
			div#welcome .gallery ul li {
				float: left;
				margin-right: 15px;
				position: relative;
				background: url('../images/mini_gallery_bg.png') no-repeat top left;
				height: 155px;
				width: 155px;
			}
			div#welcome .gallery ul li.last { margin-right: 0; }
			div#welcome .gallery ul li img {
				padding: 12px 0px 0px 12px;
			}
			div#welcome .gallery ul li span{
				background: #000;
				background: rgba(0,0,0,0.6);
				color: #fff;
				font-weight: bold;
				font-size: 14px;
				display: block;
				position: absolute;
				bottom: 13px;
				left: 12px;
				width: 129px;
				text-align: center;
				padding: 10px 0px 10px 0px;
				border-top: 1px solid #555;
			}
div#homepage .one_third { margin-bottom: 0; overflow: hidden; padding-bottom: 8px; }			
div#homepage .one_third h2 {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
/* Daily Specials */
div#homepage div#specials ul {
	list-style: none;
}
	div#homepage div#specials ul li {
		display: block;
		margin-bottom: 12px;
		padding-bottom: 15px;
		border-bottom: 1px dashed #dbdbdb;
		clear: both;
		overflow: hidden;
	}	
		div#homepage div#specials ul li .description {
			width: 200px;
			float: right;
		}
		div#homepage div#specials ul li strong {
			font-size: 12px;
			margin-bottom: 3px;
			display: block;
		}
		div#homepage div#specials ul li p {				
			font-size: 11px;
			line-height: 16px;
			margin-bottom: 3px;
		}
		div#homepage div#specials ul li span.price {
			color: #8080808;
			font-size: 12px;
			font-weight: bold;
		}
		div#homepage div#specials ul li img {
			float: left;
			padding-top: 2px;
		}
	div#homepage div#specials ul li.last { border: none; }
/* Hours & Location */
div#homepage div#hours_location p {
	margin-bottom: 12px;
}
div#homepage div#hours_location .map {
	background: url('../images/map_bg.png') no-repeat top left;
	width: 262px;
	height: 142px;
	padding: 10px;
	margin-top: 5px;
}
/* Feedback */
div#homepage div#feedback {
	clear: both;
	padding-bottom: 20px;
}
	div#homepage div#feedback h2 { margin-bottom: 30px; }
	div#feedback div.tweets {
		float: left;
		width: 315px;
		border-right: 1px solid #dfdfdf;
		padding-right: 30px;
	}
		div#feedback div.tweets ul{
			list-style: none;
			margin-left: -10px;
		}
			div#feedback div.tweets ul li{
				background: #eeeeee;
				padding: 10px 10px 10px 18px;
				margin-bottom: 10px;
				-moz-border-radius: 8px;
					-webkit-border-radius: 8px;
					border-radius: 8px;
				margin-left: 20px;
				position: relative;
			}
				div#feedback div.tweets ul em.arrow {
					background: url('../images/twitter_arrow.png') no-repeat;
					width: 20px;
					height: 18px;
					display: block;
					position: absolute;
					top: 12px;
					left: -20px;
				}
				div#feedback div.tweets ul li span.tweet_text {
					font-size: 13px;
					color: #3a3a3a;
					display: block;
					margin-bottom: 5px;
				}
				div#feedback div.tweets ul li span.tweet_text a {
					color: #1697e0;
					font-size: 13px;
				}
					div#feedback div.tweets ul li span.tweet_text a:hover { text-decoration: none; }
				div#feedback div.tweets ul li span.tweet_time a {
					color: #8c8c8c;
					font-size: 11px;
					text-decoration: none;
				}
		div#feedback div.tweets a.follow {
			float: right;
			background: url('../images/twitter_icon.png') no-repeat bottom left;
			height: 16px;
			display: block;
			padding-left: 23px;
			font-size: 11px;
			color: #9c9c9c;
		}
			div#feedback div.tweets a.follow:hover { text-decoration: none; }
	div#feedback div.press {
		float: right;
		width: 540px;
	}
		div#feedback div.press ul {
			list-style: none;
		}
			div#feedback div.press ul li {
				border-bottom: 1px dashed #dbdbdb;
				overflow: hidden;
				margin-bottom: 18px;
				padding-bottom: 18px;
			}	
			div#feedback div.press ul li div.date {
				float: left;
				background: url('../images/colors/lime/date_bg.png') no-repeat;
				width: 71px;
				color: #fff;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
				padding: 28px 8px 30px 0px;
			}
			div#feedback div.press ul li a {
				color: #999999;
				font-size: 11px;
				display: block;
				margin-top: 5px;
			}
			div#feedback div.press ul li h5 { margin-bottom: 5px; }
			div#feedback div.press ul li h5 a {
				color: #2b2b2b;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
			}
				div#feedback div.press ul li a:hover { text-decoration: none; }
				div#feedback div.press ul li h5 a:hover { text-decoration: underline; }
			div#feedback div.press ul li div.content {
				margin-left: 90px;
				margin-top: 5px;
			}
				div#feedback div.press ul li div.content p{
					padding-top: 0px;
					font-size: 13px;
					line-height: 18px;
					color: #808080;
					margin: 0;
				}
				div#feedback div.press ul li a.arrow {
					float: right;
					width: 15px;
					height: 15px;
					display: block;
					text-indent: -99999px;
					background: url('http://themes.two2twelve.com/site/limon/restaurant/images/right_arrow_small.png') no-repeat;
					margin-top: -25px;
					margin-right: 5px;	
				}
/*--------------------------------------------
Our Story
---------------------------------------------*/
div#our_story div.image_wrap {
	margin-bottom: 24px;
	background: #F5F5F5;
	border: 1px solid #dbdbdb;
	padding: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 3px #eee;
	-moz-box-shadow: 0px 0px 3px #eee;
	box-shadow: 0px 0px 3px #eee;
}	
/* Sidebar */
div#our_story div#the_team div.team_detail {
	overflow: hidden;
	margin-bottom: 20px;		
}
	div#our_story div#the_team div.team_detail.last { margin-bottom: 0; }
	div#our_story div#the_team div.photo {
		float: left;
		padding: 4px;
		border: 1px solid #dbdbdb;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	div#our_story div#the_team div.bio {
		margin-left: 115px;
		padding-top: 3px;
	}
	div#our_story div#the_team div.bio p {
		padding-top: 8px;
		font-size: 12px;
		line-height: 1.5em;
	}
div#our_story div#facts ul { list-style: none; }
	div#our_story div#facts ul li {
		background: url("../images/colors/lime/bullet.png") no-repeat 0px 4px;		
		padding-left: 25px;
		padding-bottom: 12px;
		font-size: 13px;
	}	
div#reviews .review blockquote{
	font-size: 13px;
	margin: 0px 0px 10px 10px;
	padding-top: 8px;
	color: #676767;
	line-height: 18px;
}
div#reviews ul { display: none; }
div#reviews .ui-tabs-hide{ display:none; }
/*--------------------------------------------
Menu
---------------------------------------------*/
/* Menu 1 & 2 Elements */
div#items .content {
	clear: both;
	overflow: hidden;
}
div#items .ui-accordion-content { padding: 0; padding-bottom: 10px; }
div#items .ui-accordion-header .content { padding-bottom: 15px; }
div#items div.accordion .heading h2{ 
	text-transform: uppercase;
}
	div#items .content h4 {
		padding-right: 15px;
		padding-bottom: 12px;
		font-size: 15px;
		color: #343434;
		margin-bottom: 0px;
	}
		div#items .content h4 span {		
			width: 42px;
			height: 15px;
			padding: 1px 10px 1px 10px;
			background: #b6de3e;
			font-size: 11px;
			color: #fff;
			text-align: center;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			text-shadow: 0px 0px 2px #b4b4b4;
			margin-left: 10px;
			position: relative;
			top: -1px;
		}
		div#items .content p {
			margin-bottom: 10px;
			color: #989898;
			font-size: 13px;
		}
		div#items .content b {
			font-size: 13px;
			color: #4b4b4b;
		}
/* Menu 1 */
div#items .content ul {
	overflow: hidden;
	list-style: none;			
	padding-bottom: 24px;
	padding-top: 20px;	
	border-bottom: 1px dashed #ccc;
}
div#items .content ul.last {
	border: none;
}
	div#items .content ul li {
		float: left;
		width: 250px;
		padding-right: 40px;
		padding-left: 10px;
	}
	div#items .content ul li.last { padding-right: 0; }
/* Menu 2 */
	div#items .content img {
		float: left;
		width: 200px;
		margin-right: 16px;
	}
	div#items .left {
		float: left;
		width: 440px;
		margin: 15px 0px 15px 0px;
	}
	div#items .right {
		float: right;
		width: 440px;
		margin: 15px 0px 15px 0px;
	}
	div#items .right strong {
		padding-left: 212px;
	}
/* Menu 3 */
div#items_3 .menus {
	clear: both;
	overflow: hidden;	
}
	div#items_3 .menus ul {
		clear: both;
		list-style: none;
	}
	div#items_3 .menus ul li {
		overflow: hidden;
		display: block;
		margin-bottom: 18px;
		border-bottom: 1px dashed #d9d9d9;
	}
	div#items_3 .menus ul li.last { margin: 0; border: none; }
	div#items_3 .menus div.description {
		float: left;
		width: 375px;
		padding-top: 3px;
	}
		div#items_3 .menus img {
			float: left;
			padding-top: 3px;
			padding-right: 12px;
			padding-bottom: 20px;
		}
		div#items_3 .menus ul li b {
			display: block;
			margin-bottom: 7px;
		}
		div#items_3 .menus ul li p{
			width: 825px;
		}
		div#items_3 .menus span.cost {
			float: right;
			margin: 6px 0px 0px 115px;
			display: block;
			background-color: #f1f1f1;
			color: #555;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			border-radius: 12px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			padding: 3px 14px 3px 14px;
			border: 1px solid #ddd;
		}
	div#items_3 .menus ul li.no_border {
		border-bottom: none;
	}
	/* Menu Filter */
	div#items_3 .small_right_column ul li ul { list-style: none; margin-top: 5px; }
		div#items_3 .small_right_column ul li ul li {
			padding: 4px 0px 4px 0px;
			border: none;
		}
		div#items_3 .small_right_column ul li ul li a {
			display: block;
			text-decoration: none;
			background: none;
			font-size: 12px;
			color: #646464;
			font-weight: normal;
			text-transform: none;
			color: #979797;
		}	
			div#items_3 .small_right_column ul li ul li a:hover { color: #333; }
/*--------------------------------------------
Gallery
---------------------------------------------*/
div#gallery #slideshow_wrap {
	background: #fcfcfc;
	border: 1px solid #dbdbdb;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	width: 892px;
	-webkit-box-shadow: 0px 0px 3px #eee;
	-moz-box-shadow: 0px 0px 3px #eee;
	box-shadow: 0px 0px 3px #eee;
}
	div#gallery #slideshow { position: relative; height: 480px; }
	div#gallery #slideshow img {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    display: none;
	}
	div#gallery #slideshow .nivo-caption h2 { color: #fff; padding-top: 5px; }
	div#gallery #slideshow .nivo-caption p {
		color: #fff;
		padding: 10px;
		margin: 0;
	}
	div#gallery #slideshow .nivo-controlNav {
			position: static;	
  		float: left;
			margin-top: 490px;
			margin-left: 0px;
	}
	div#gallery #slideshow .nivo-controlNav img {
		display:inline; /* Unhide the thumbnails */
		position:relative;
		margin: 0px 8px 0px 0px;
		width: 120px;
	}	
	div#gallery #slideshow a.nivo-control {
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter:alpha(opacity=50);
	}
		div#gallery #slideshow a.nivo-control.active {
			opacity: 1;
			-moz-opacity: 1;
			filter:alpha(opacity=100);
		}
div#gallery ul.three_column,
div#gallery ul.four_column {
	list-style: none;
}
	div#gallery ul.three_column li,
	div#gallery ul.four_column li {
		float: left;
		margin: 0px 22px 22px 0px;
		background: #F5F5F5;
		border: 1px solid #dbdbdb;
		padding: 7px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 3px #eee;
		-moz-box-shadow: 0px 0px 3px #eee;
		box-shadow: 0px 0px 3px #eee;
		position: relative;
	}
		div#gallery ul.three_column li a,
		div#gallery ul.four_column li a {
			display: block;
			position: relative;
		}
	div#gallery ul.three_column li.last,
	div#gallery ul.four_column li.last { margin-right: 0; }
	div#gallery ul.four_column li {
		margin: 0px 25px 25px 0px;
	}
	div#gallery ul.four_column li img{
		width: 190px;
	}
div#gallery ul li div.hover {
	background: #333 url('../images/zoom.png') no-repeat center center;
	background: rgba(0,0,0,0.6) url('../images/zoom.png') no-repeat center center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
}
/*--------------------------------------------
Contact Us
---------------------------------------------*/
div#contact_us form { margin-top: 20px;}
	div#contact_us form label{
		font-weight: bold;
		font-size: 13px;
		color: #424242;
		display: block;
		margin-bottom: 8px;
	}
        
        div#contact_us form .text_field{
		padding: 8px;
		width: 248px;
		border: 1px solid #ccc;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		color: #444;
		font-size: 13px;
	}
		div#contact_us form select.text_field { width: 265px; }
		div#contact_us form textarea.text_field{ 
			width: 525px; 
			height: 160px; 
			color: #444; 
			font-family: "Helvetica Neue", helvetica, sans-serif; 
			font-size: 13px; 
		}
		div#contact_us form select.error,
		div#contact_us form textarea.error,
                div#contact_us form input.error{
                    border-color: red;
                }
                div#contact_us form label.error{
                    font-size: 10px;
                    color: #F34;
                }   
		div#contact_us form .text_field:focus{
			box-shadow: inset 0px 0px 4px #ccc;
			outline: none;
		}
	div#contact_us form .row {
		overflow: hidden;
		margin-bottom: 0px;
	}
		div#contact_us form .row p {
			float: left;
			margin-right: 10px;
		}
		div#contact_us form .button {
			float: right;
			margin-right: 17px;
		}
	div#contact_us .notice {
		font-weight: bold;
	}
	div#contact_us .notice.error { color: #D94848; }
	div#contact_us .notice.success { color: #61B85A; }
/* Sidebar */
div#contact_us #hq { }
	div#contact_us #hq ul { list-style: none; }
		div#contact_us #hq ul li { 
			padding-left: 40px;
			margin-bottom: 15px; 
			border-bottom: 1px solid #e9e9e9;
			padding-bottom: 10px;
		}
		div#contact_us #hq  ul li b {
			font-size: 14px;
			color: #666;
		}
		div#contact_us #hq ul li p { margin: 0; }
		div#contact_us #hq ul li.mail  { background: url('../images/colors/lime/mail.png') no-repeat top left; }
		div#contact_us #hq ul li.phone  { background: url('../images/colors/lime/phone.png') no-repeat top left; }
		div#contact_us #hq ul li.fax    { background: url('../images/colors/lime/fax.png') no-repeat top left; }
	div#contact_us #hq ul li.last { border: none; margin: 0; padding-bottom: 0; }
div#contact_us #inquiries { padding: 15px 30px 25px 30px; }	
	div#contact_us #inquiries a {
		color: #424242;
		font-weight: bold;
	}		
/*--------------------------------------------
Hours and Location
---------------------------------------------*/
div#hours_location p {
	line-height: 18px;
}
div#hours_location .location {
	overflow: hidden;
	clear: both;
	background: #f3f3f3;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 20px;
	margin-bottom: 25px;
}
	div#hours_location .location .details {
		float: left;
		background: url('../images/colors/lime/location_icon.png') no-repeat top left;
		padding-left: 45px;
	}
		div#hours_location .location .details h4{ font-size: 16px; margin-bottom: 10px; }
		div#hours_location .location .details p{
			line-height: 20px;
			margin: 0;
		}
		div#hours_location .location .details p b{
			float: left;
			width: 100px;
		}
	div#hours_location .location .map {
		float: left;
		width: 292px;		
		padding: 8px 9px 8px 7px;
		margin-left: 30px;
		border: 1px solid #d0d0d0;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		background: #f9f9f9;
		-webkit-box-shadow: 0px 0px 3px #ccc;
		-moz-box-shadow: 0px 0px 3px #ccc;
		box-shadow: 0px 0px 3px #ccc;
	}
	div.location .directions {
		float: right;
		width: 235px;
		padding-top: 5px;
	}
		div.location .directions a {
			background: url("../images/location_button_bg.png") repeat-x;
			width: 196px;
			padding: 10px 15px 10px 15px;
			margin-bottom: 6px;
			text-decoration: none;
			display: block;
			font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			color: #5e5e5e;
			border: 1px solid #d3d3d3;
			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			position: relative;
			opacity: 0.6;
		}
			div.location .directions a span{
				background: url('../images/location_icons.png') no-repeat top;
				width: 19px;
				height: 30px;
				position: absolute;
				top: 1px;
				right: 12px;
			}
				div.location .directions a.driving span{ background-position: 0px 0px; }
				div.location .directions a.reservation span{ background-position: 0px -45px; }
				div.location .directions a.menu span{ background-position: 0px -87px; }
				div.location .directions a.catering span{ background-position: 0px -130px; }		
/*--------------------------------------------
Blog
---------------------------------------------*/
/* Left Column */
div#blog .post {
	float: left;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 25px;
	padding-bottom: 25px;
}
	div#blog .post .date {
		float: left;
		background: url('../images/colors/lime/date_bg.png') no-repeat;
		width: 71px;
		color: #fff;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		padding: 28px 8px 28px 0px;
	}
	div#blog .post .post_details {
		margin-left: 85px;
		padding-top: 12px;
	}
		div#blog .post .post_details h1,
		div#blog .post .post_details h1 a {
			font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans;
			font-size: 22px;
			font-weight: bold;
			margin-bottom: 5px;
			text-decoration: none;
			color: #2a2a2a;
		}
			div#blog .post .post_details h1 a:hover {
				text-decoration: underline;
			} 
		div#blog .post .post_details .meta {
			display: block;
			font-size: 12px;
			font-weight: medium;
			color: #676767;
		}
			div#blog .post .post_details .meta a {
				color: #676767;
				font-weight: bold;
			}
			div#blog .post .post_details .meta a:hover { text-decoration: none; }
		div#blog .post .post_details .content {
			margin-top: 20px;
		}
			div#blog .post .post_details .content p {
			}
			div#blog .post .post_details .content img {
				margin-bottom: 20px;
				padding-right: 15px;
				padding-top: 5px;
			}
			div#blog .post .post_details a.button {
				float: right;
			}
/* Sidebar */
/* Recent Posts Widget */
div#recent_posts ul {
	list-style: none;
	padding-top: 15px;
	overflow: hidden;
}
	div#recent_posts ul li {
		overflow: hidden;
		padding-bottom: 13px;
		margin-bottom: 13px;
		border-bottom: 1px solid #d9d9d9;
	}
	div#recent_posts ul li img {
		float: left;
		margin-right: 8px;
	}
	div#recent_posts ul li a {
		font-size: 11px;
		width: 110px;
		float: left;
		line-height: 16px;
		margin: 0;
		text-decoration: none;
		color: #777;
	}
		div#recent_posts ul li a:hover { text-decoration: underline; }
/* Flickr Widget */
div#flickr ul {
	list-style: none;
	padding-top: 15px;
	overflow: hidden;
}
	div#flickr ul li {
		float: left;
		margin-right: 12px;
		margin-bottom: 12px;
	}
/* Twitter Widget */
div#twitter_feed ul {
	padding-top: 15px;
	list-style: none;
}
	div#twitter_feed ul li {
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-left: 27px;
		border-bottom: 1px solid #d9d9d9;
		background: url("../images/twitter_icon.png") no-repeat 0px 2px;
	}
		div#twitter_feed ul li span.tweet_text {
			font-size: 12px;
			color: #3a3a3a;
		}
			div#twitter_feed ul li span.tweet_text a{
				background: none;
				display: inline;
				font-size: 12px;
				color: #8c8c8c;
			}
				div#twitter_feed ul li span.tweet_text a:hover { text-decoration: none; }
		div#twitter_feed ul li span.tweet_time a {
			text-decoration: none;
			display: block;
			font-size: 11px;
			color: #8c8c8c;
			margin-top: 5px;
		}
/* Pagination */
div.pagination {
	clear: both;
	text-align: right;
	overflow: hidden;
}
	div.pagination a {
		text-decoration: underline;
		font-size: 11px;
		color: #9c9c9c;
	}
		div.pagination a:hover { text-decoration: none; }
	div.pagination span {
		color: #ccc;
		margin: 0px 10px 0px 10px;
		font-size: 11px;
	}
/*--------------------------------------------
Blog Item
---------------------------------------------*/
/* Comments */
div#comments {
	clear: both;
}
div#comments ol {
	list-style: none;
}
	div#comments ol li { overflow: hidden; }
	div#comments ol li img {
		float: left;
		width: 90px;
	}
	div#comments ol li .comment {
		margin-left: 110px;
		padding: 20px 20px 20px 20px;
		background: #f3f3f3;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;	
		margin-bottom: 27px;
		position: relative;
	}
		div#comments ol li .comment h5 {
			margin-bottom: 15px;
			font-size: 14px;
		}
		div#comments ol li .comment span.date {
			position: absolute;
			top: 22px;
			right: 20px;
			font-size: 11px;
			color: #868686;
			font-weight: normal;
		}	
		div#comments ol li .comment p {
			color: #676767;
			margin-bottom: 10px;
		}
		div#comments ol li .comment a.reply {
			display: block;
			text-align: right;
			font-size: 12px;
			text-decoration: underline;
			color: #555;
			font-weight: bold;
		}
			div#comments ol li .comment a.reply:hover { text-decoration: none; }
div#comments ol li ol{		
	margin-left: 80px;
}
	div#comments ol li ol li ol{	
		margin-left: 160px;
	}
/* Comment Form */
div#comments ol .comment_form form {
}
	div#comments ol .comment_form form label {
		font-weight: bold;
		font-size: 13px;
		color: #424242;
		display: block;
		margin-bottom: 8px;
	}
	div#comments ol .comment_form form .text_field {
		padding: 8px;
		width: 237px;
		border: 1px solid #ccc;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		color: #444;
		font-size: 13px;
	}
	div#comments ol .comment_form form textarea.text_field {
		width: 483px; 
		height: 120px; 
		color: #444; 
		font-family: "Helvetica Neue", helvetica, sans-serif; 
		font-size: 13px;
	}
		div#comments ol .comment_form form .text_field:focus{
			box-shadow: inset 0px 0px 4px #ccc;
			outline: none;
		}
		div#comments ol .comment_form form .row {
		overflow: hidden;
	}
	div#comments ol .comment_form form .row p {
			float: left;
			margin-right: 10px;
		}
	div#comments ol .comment_form form .button {
			margin: 10px 0px 0px 0px;
		}
/*--------------------------------------------
404 Error Page
---------------------------------------------*/
div#error_page {
	clear: both;
	overflow: hidden;
	text-align: center;
}
	div#error_page div.error_wrap {
		clear: both;
		background: url("../images/colors/lime/404_circle.png") no-repeat center;
		overflow: hidden;	
		margin: 0 auto;
		width: 334px;
		height: 300px;
		padding-top: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	div#error_page .oops {
		font-size: 30px;
		color: #fff;
	}
	div#error_page h1 {
		font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans;
		font-size: 96px;
		font-weight: normal;
		color: #fff;
	}
	div#error_page p {
		text-align: center;
		color: #fff;
		font-size: 20px;
		line-height: 30px;
		width: 250px;
		margin: 0 auto;
	}
	div#error_page a {
		display: block;
		width: 185px;
		background: url("../images/404_arrow.png") no-repeat 0px 8px;
		text-decoration: underline;
		color: #fff;
		font-size: 15px;
		margin-top: 10px;
		margin-left: 45px;
	}
	div#error_page a:hover {
		text-decoration: none;
	}
/*--------------------------------------------
Footer
---------------------------------------------*/
div#footer {
	clear: both;	
	overflow: hidden;
	border: 1px solid #dbdbdb;
	margin-bottom: 30px;
	padding: 25px 30px 25px 30px;
	height: 40px;
	background: url('../images/footer_bg.png') repeat-x bottom left;
	-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
}
	div#footer .left {
		float: left;	
		width: 500px;
	}
		div#footer .left p{
			font-size: 13px;
			color: #8d8d8d;
			padding-top: 12px;
		}
	div#footer .right { 
		float: right; 
		margin-top: 8px;
	}
	div#footer .right p {
		padding-top: 2px;
		font-size: 12px;
		text-align: right;
	}
	div#footer .right ul {
		list-style: none;
	}
		div#footer .right ul li { 
			float: left; 
			padding: 0 5px 0 5px;
		}
			div#footer .right ul li a {
				background: url('../images/social_icons.png') no-repeat top;
				width: 24px;
				height: 24px;
				text-indent: -99999px;
				display: block;				
			}
			div#footer .right ul li.facebook a { background-position: 0px 0px; }
				div#footer .right ul li.facebook a:hover { background-position: 0px -24px; }
			div#footer .right ul li.twitter a { background-position: 0px -47px; }
				div#footer .right ul li.twitter a:hover { background-position: 0px -71px; }
			div#footer .right ul li.flickr a { 
				background-position: 0px -94px;
				padding-right: 10px;
			}
				div#footer .right ul li.flickr a:hover { background-position: 0px -118px; }
/*--------------------------------------------
HTML Styles
---------------------------------------------*/
/* Columns */
div.column_last { margin-right: 0 !important; }
.one_half, .one_third, .two_third, 
.three_fourth, .one_fourth, .two_thirds {
	float: left;
	margin-right: 4%;
	margin-bottom: 25px;
}
div.one_half    { width: 48%; }
div.one_third   { width: 30.66%; }
div.two_thirds  { width: 65%; }
div.one_fourth  { width: 22%; }
/* Typography */
div#typography ul,
div#typography ol { float: left; margin: 15px 60px 0px 0px; }
ul.triangles,
ul.arrows,
ul.bullseye,
ul.checkmarks,
ul.numbered {
	list-style: none;
	line-height: 22px;
	font-size: 13px;
}
ul.numbered { list-style: decimal; padding-left: 18px; padding-top: 5px; }
	ul.triangles li {
		background: url('../images/colors/lime/arrow_right.png') no-repeat 0px 7px;
		padding-left: 15px;
	}
	ul.bullseye li {
		background: url('../images/colors/lime/bullet.png') no-repeat 0px 7px;
		padding-left: 17px;
	}
	ul.arrows li {
		background: url('../images/colors/lime/arrow.png') no-repeat 0px 4px;
		padding-left: 22px;
	}
	ul.checkmarks li {
		background: url('../images/colors/lime/checkmark.png') no-repeat 0px 5px;
		padding-left: 22px;
	}
blockquote {
	display: block;
	background: url("../images/colors/lime/quote.png") no-repeat top left;
	padding-left: 40px;
	margin: 26px 0px 35px 46px;
	font-style: italic;
	font-size: 20px;
	color: #666;			
}
span.highlight {
	padding: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
	span.highlight.light {
		background: #fffccd;
	}
	span.highlight.dark {
		background: #555;
		color: #fff;
	}
/* Styled Boxes */
div.box {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 15px;
	margin-bottom: 20px;
	text-align: center;
}
	div.box.half { width: 50%; }
	div.box p{
		margin-bottom: 0;
	}
	div.box.framed {
		background: #fcfcfc;
		border: 1px solid #dbdbdb;
		text-align: left;
		padding: 20px;
	}
	div.box.info {
		background: #d6e7ee;
		border: 1px solid #baccd4;
		box-shadow: inset 0px 1px 1px #e5f0f4;
	}
		div.box.info p{ color: #5f8797; }
	div.box.success {
		background: #e0f8db;
		border: 1px solid #c6dac2;
		box-shadow: inset 0px 1px 1px #ecfbe8;
	}
		div.box.success p { color: #769d6e; }
	div.box.error {
		background: #fde9ea;
		border: 1px solid #daabae;
		box-shadow: inset 0px 1px 1px #fef1f2;
	}
		div.box.error p { color: #c4686c; }
	div.box.notice {
		background: #f9f8d6;
		border: 1px solid #d9d49e;
		box-shadow: inset 0px 1px 1px #fbfbe5;
	}
		div.box.notice p { color: #a99d36; }
/* Tables */
table {
	width: 100%;
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fcfcfc;
	padding: 0;
	margin-bottom: 30px;
}
table.half { width: 560px; }
	table tr th,
	table tr td {
		text-align: left;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding: 12px 20px 12px 20px;
	}
	table thead tr th {
		color: #505050;
		font-size: 14px;
		font-weight: bold;
	}
	table tr td { font-size: 13px; }
	table tr.highlight td { background: #f3f3f3; }
	table .no_right_border { border-right: 0; }
	table .no_bottom_border { border-bottom: 0; }
div.pricing_box {
	background: #efefef;
	padding-top: 15px;
	border: 1px solid #c9cac9;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 3px 5px #f9f9f9;
	-moz-box-shadow: inset 0px 3px 5px #f9f9f9;
	box-shadow: inset 0px 3px 5px #f9f9f9;
	overflow: hidden;
	opacity: 0.80;
	-moz-opacity: 0.80;
	filter:alpha(opacity=80);
	cursor: pointer;
}
	div.pricing_box.active {
		box-shadow: 0px 0px 15px #ccc;
		-webkit-box-shadow: 0px 0px 15px #ccc;
		-moz-box-shadow: 0px 0px 15px #ccc;
	}
	div.pricing_box .price {
		background: url('../images/price_inactive_bg.png') no-repeat	top center;
		width: 130px;
		height: 130px;
		text-align: center;
		margin: 0 auto;
	}
	div.pricing_box.active .price{ background: url('../images/colors/lime/price_bg.png') no-repeat	top center; }
		div.pricing_box .price h2{
			font-size: 45px;
			color: #fff;
			padding-top: 35px;
		}
	div.pricing_box ul {
		border-top: 1px dashed #c7c7c7;
		padding-top: 15px;
		margin-top: 15px;
		list-style: none;
		text-align: center;
		padding-bottom: 5px;
	}
		div.pricing_box ul li {
			font-size: 13px;
			color: #4d4c4c;
			margin-bottom: 10px;
		}
	div.pricing_box a {
		background: #444444;
		display: block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		padding: 9px 0px 9px 0px;
		font-size: 12px;
	}
/* Tabs, Toggles and Accordians */
div.tabs { margin-bottom: 20px; }
div.tabs.half { width: 560px; }
	div.tabs ul.ui-tabs-nav {
		list-style: none;
		overflow: hidden;
		position: relative;
		z-index: 2;
	}
		div.tabs ul.ui-tabs-nav li{
			float: left;
			margin-right: 2px;
		}
			div.tabs ul.ui-tabs-nav li a {
				color: #8f8f8f;
				font-size: 14px;
				font-weight: bold;
				text-decoration: none;
				background: #f3f3f3;
				border: 1px solid #e3e3e3;
				padding: 8px 25px 8px 25px;
				display: block;
				-webkit-border-top-left-radius: 6px;
				-webkit-border-top-right-radius: 6px;
				-moz-border-radius-topleft: 6px;
				-moz-border-radius-topright: 6px;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
				div.tabs ul.ui-tabs-nav li.ui-state-active a{
					color: #424242;
					background: #fcfcfc;
					border: 1px solid #d4d4d4;
					border-bottom: none;
					padding-bottom: 9px;
				}
		div.tabs .ui-tabs-panel {
			padding: 20px;
			padding-bottom: 5px;
			background: #fcfcfc;
			border: 1px solid #e3e3e3;
			position: relative;
			z-index: 1;
			margin-top: -1px;
		}
	div.tabs .ui-tabs-hide {
		display: none;
	}
div.small_accordion { margin-bottom: 20px; }
div.small_accordion.half { width: 560px; }
	div.small_accordion h4 {
		background: #fcfcfc;
		border: 1px solid #d4d4d4;
		padding: 10px 15px 10px 15px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
		div.small_accordion h4 a {
			font-size: 14px;
			font-weight: bold;
			color: #767676;
			text-decoration: none;
			display: block;
			background: url('../images/arrow-up.png') no-repeat center right;
		}
		div.small_accordion h4.ui-state-active a {
			background: url('../images/arrow-down.png') no-repeat center right;
		}
div.accordion.half { width: 560px; }	
div.accordion .heading {
	overflow: hidden;
	background: #eee;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: relative;
	margin-bottom: 10px;
	clear: both;
	cursor: pointer;
}
	div.accordion .heading .content {
		padding: 20px 25px 0px 25px;
	}
	div.accordion .heading .content h2 {
		font-size: 26px;
		margin-bottom: 10px;
	}
		div.accordion .heading .content h2 span {
			font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans;
			font-size: 12px;
			color: #a5a5a5;
			text-transform: none;
			position: relative;
			top: -4px;
			left: 10px;
			font-style: italic;
		}
	div.accordion .heading .content p {
		font-size: 14px;
		color: #848383;
	}
		div.accordion .heading a.toggle {
			text-decoration: none;
			width: 40px;
			height: 22px;
			display: block;
			text-indent: -99999px;
			background: url("../images/menu_arrow.png") no-repeat top;
			position: absolute;
			top: 40px;
			right: 35px;
		}
		div.accordion .heading.ui-state-active a.toggle { background-position: bottom left; }
	div.accordion .content {
		padding: 10px 20px 10px 20px;
	}
/*--------------------------------------------
Buttons
---------------------------------------------*/
.button {
	background: url('../images/buttons.png') repeat-x top left;
	padding: 6px 15px 7px 15px;
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ccc;
}
input.button { padding-bottom: 5px; cursor: pointer; }
.button.lime_green, .button.magenta, .button.orange, 
.button.purple ,.button.blue, .button.red, .button.yellow, 
.button.green, .button.teal, .button.gray, .button.brown, 
.button.black, .button.pink, .button.light_green,
.button.sea_foam, .button.coral, .button.light_blue, 
.button.light_purple { 
	color: #fff; 
	text-shadow: #999 0px 0px 2px;
}
	/* Vibrant Colors */
	.button.lime_green   { background-position: 0px -27px; }
	.button.magenta 		 { background-position: 0px -54px; }
	.button.orange 			 { background-position: 0px -81px; }
	.button.purple 			 { background-position: 0px -108px; }
	.button.blue 			   { background-position: 0px -135px; }
	.button.red 		     { background-position: 0px -162px; }
	.button.yellow       { background-position: 0px -189px; }
	.button.green 			 { background-position: 0px -216px; }
	.button.teal 				 { background-position: 0px -243px; }
	/* Neutral Colors */
	.button.gray        { background-position: 0px -270px; }
	.button.brown 		  { background-position: 0px -297px; }
	.button.black 		  { background-position: 0px -323px; }
	/* Pastel Colors */
	.button.pink 				 { background-position: 0px -351px; }
	.button.light_green  { background-position: 0px -378px; }
	.button.sea_foam 	   { background-position: 0px -405px; }
	.button.coral        { background-position: 0px -432px; }
	.button.light_blue   { background-position: 0px -459px; }
	.button.light_purple { background-position: 0px -486px; }
/*--------------------------------------------
Fonts
---------------------------------------------*/
@font-face {
    font-family: 'QlassikMedium';
    src: url('http://themes.two2twelve.com/site/limon/restaurant/fonts/qlassik_tb-webfont.eot');
    src: url('../fonts/qlassik_tb-webfont.eot') format('embedded-opentype'),
         url('../fonts/qlassik_tb-webfont.woff') format('woff'),
         url('../fonts/qlassik_tb-webfont.ttf') format('truetype'),
         url('../fonts/qlassik_tb-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QlassikBold';
    src: url('http://themes.two2twelve.com/site/limon/restaurant/fonts/qlassikbold_tb-webfont.eot');
    src: url('../fonts/qlassikbold_tb-webfont.eot') format('embedded-opentype'),
         url('../fonts/qlassikbold_tb-webfont.woff') format('woff'),
         url('../fonts/qlassikbold_tb-webfont.ttf') format('truetype'),
         url('../fonts/qlassikbold_tb-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------------------------------------
Misc
---------------------------------------------*/
hr {
	color: #e5e5e5;
	background: #e5e5e5;
	border: none;
	width: 100%;
	height: 1px;
	margin: 20px 0px 20px 0px;
	clear: both;
}
.text_field {
	color: #656565;
	font-style: italic;
}
.text_field_active {
	color: #333;
	font-style: normal;
}
a,h4,div { outline: none;}
img { border: none;}